img{
    width: 200px;
}

.cabecalho{

    width: 1000px;
    height: 100px;
    background-color: black;

}

.Primeirasecao{
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 500px;
    background-color: rgb(104, 104, 104);
}
.divisao{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 255, 255);
}