img{
    width: 200px;
}

.cabecalho{

    width: 1000px;
    height: 100px;
    background-color: black;

}

.Primeirasecao{
    width: 1000px;
    height: 500px;
    background-color: rgb(43, 186, 226);
}